body {
    color: rgba(0,0,0,0.8);
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 13px;
}

a {
    transition: all 0.3s ease;
}

a img {
    transition: all 0.3s ease;
}

a, a:visited{
    color: #c0392b;
}

a:hover {
    color: #e74c3c;
}

a:hover img {
    opacity: 0.8;
}

a:active {
    color: #c0392b;   
}

#containter {
    min-height: 100%;
    position: relative;
}

header {
    position: fixed;
    height: 100%;
    width: 23%;
    background-color: #2c3e50; /* midnight blue */
    padding-top: 80px;
    text-align: center;
}

header #avatar {
    border-radius: 15px;
    border: 5px solid #34495e;
    width: 50%;
}

#blog-name {
    margin: 30px 0 0 0;
}

#blog-name a {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 2.5em;
    text-decoration: none;
}

#blog-name a:hover {
    color: #c0392b;
}

nav {
    margin: 20px 0 0 0;
}

nav a, nav a:visited {
    color: #7f8c8d;
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 2em;
}

nav a:hover {
    color: #c0392b;
}

nav a:active {
    color: #7f8c8d;
}

#twitter-and-stuff {
    margin-top: 20px;
}

#twitter-and-stuff a {
    color: #7f8c8d;
    opacity: 0.3;
    margin-right: 10px;
}

#twitter-and-stuff a:hover {
    opacity: 0.7;
}

#twitter-and-stuff a:last-child {
    margin-right: 0;
}

#main-content {
    position: absolute;
    right: 0;
    width: 77%;
}

/* post, page, footer */
article, #page {
    padding: 0 80px;
    margin: 80px 0;
}

footer {
    padding: 0 80px;
    margin: 80px 0 40px 0;   
}

h1, .meta, .post-content, .page-content, .excerpt-content, .footer-content {
    max-width: 700px;
}

h1 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 800;
    font-size: 4em;
    padding-bottom: 15px;
}

a.excerpt-link, a.excerpt-link:visited {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

a.excerpt-link:hover {
    color: #c0392b;
}

a.excerpt-link:active {
    color: rgba(0,0,0,0.8);
}

.meta {
    color: rgba(0, 0, 0, 0.45);
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.post-content, .page-content, .excerpt-content {
    line-height: 1.4em;
    font-size: 1.5em;
    text-align: justify;
    letter-spacing: 0.01rem;
}

.post-content p, .page-content p, .excerpt-content p {
    margin-top: 30px;
}

.highlight {
    margin-top: 20px;
    border: 3px solid #2c3e50;
    border-radius: 3px;
    padding: 10px;
}
