<div class="share-buttons">
    <hr />
    <p>
        Share this on &rarr;
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://{{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="/img/sharing/32-twitter.png" alt="Share on Twitter"></a>
        <a href="https://facebook.com/sharer.php?u=http://{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/img/sharing/32-facebook.png" alt="Share on Facebook"></a>
        <a href="https://plus.google.com/share?url=http://{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="/img/sharing/32-googleplus.png" alt="Share on Google+"></a>
    </p>
</div>