<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="author" content="{{ site.author }}">
        <meta name="description" content="{{ site.description }}">
        {% if page.keywords %}<meta name="keywords" content="{{ page.tags }}">{% endif %}

        <link rel="alternate" type="application/atom+xml" title="{{ site.title }} — Feed" href="{{ site.url }}/feed.atom" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/syntax-solarized.css">
        {% include analytics.html %}
    </head>
    <body>
        <div id="container">
            <header>
                <img src="https://avatars1.githubusercontent.com/u/7491025?v=3&s=460" alt="avatar" id="avatar" />
                <div id="blog-name">
                    <a href="/">Aim For<br />
                    Simplicity</a>
                </div>
                <div id="twitter-and-stuff">
                    <a href="https://twitter.com/kjendrzyca" alt="twitter" target="_blank"><span class="fa fa-twitter fa-3x"></span></a>
                    <a href="https://github.com/TheOneYouDontLike" alt="github" target="_blank"><span class="fa fa-github fa-3x"></span></a>
                    <a href="{{ site.url }}/feed.atom" alt="atom feed" target="_blank"><span class="fa fa-rss fa-3x" target="_blank"></span></a>
                </div>
            </header>
            <section id="main-content">
                {{ content }}
                {% include footer.html %}
            </section>
        </div>

    </body>
</html>